.responsive-debug {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  background: #666;
  padding: 5px;
  z-index: 999;
  &:after {
    content: ' small';

    @include min-screen($m) {
      content: ' medium';
    }

    @include min-screen(l) {
      content: ' large';
    }

    @include min-screen(xl) {
      content: ' xlarge';
    }
  }
}
