@function rem($px, $base-font-size: $base-font-size) {
  @return ($px / $base-font-size) * 1rem;
}

// Animation Loop

@for $i from 1 through 12 {
  .animation-delay-#{$i} {
    animation-delay: $animation-time * $i;
  }
}

@mixin flexbox($justify-content: space-between, $flex-flow: row wrap) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin transition($property: all, $time: 0.3s, $animation: ease-in-out) {
  transition: $property $time $animation;
}
