/*
	Clearfix
*/

%clearfix {
  &:before,
  &:after {
    content: ' '; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

/*
	Container
*/
%container {
  margin: 0 auto;
  max-width: rem($max-width);
  padding: 0 rem(15px);

  @include min-screen(xl) {
    padding-left: 0;
    padding-right: 0;
  }
}

/*
	Responsive Video
*/

%video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: rem(25px);
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
