.about-boxes {
  @include min-screen($m) {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex-basis: 33%;
    padding: 45px 5% 55px;
    text-align: center;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:first-child {
      background-color: $light-white;
    }
    &:last-child {
      background-color: $grey;
    }
    &-title {
      color: $blue;
      font-family: $freightText;
      font-size: rem(18px);
    }
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 235px;
      margin: 0 auto;
      color: $darkest-grey;
    }
    &-link {
      color: $red;
      text-transform: uppercase;
      border: 2px solid transparent;
      width: rem(170px);
      padding: 15px;
      border-bottom-color: $red;
      margin-left: auto;
      margin-right: auto;
      &:hover {
        border-color: $red;
        color: $red;
      }
    }
  }
}

.about-content {
  padding: 80px 15px;
}
