.book-carousel {
  max-width: 800px;
  margin: 60px auto 50px;
  &__slide {
    &-image {
      img {
        display: block;
        margin: 0 auto;
        box-shadow: 5px 4px 17px 1px rgba(0, 0, 0, 0.32);
      }
    }
    &-title {
      color: $darkest-grey;

      display: flex;
      justify-content: center;
      h3 {
        font-size: rem(16px);
        max-width: rem(175px);
        text-align: center;
      }
    }
  }
  .fa {
    color: $white;
    background-color: $grey;
    font-size: rem(16px);
    height: 25px;
    width: 25px;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    position: absolute;
    top: 30%;
    &:hover {
      cursor: pointer;
    }
    &.fa-arrow-left {
      left: 25px;
      @include min-screen($l) {
        left: -40px;
      }
    }
    &.fa-arrow-right {
      right: 25px;
      @include min-screen($l) {
        right: -40px;
      }
    }
  }
}
