.books {
  margin-top: rem(50px);
  @include min-screen($s) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.books__item {
  box-sizing: border-box;
  padding-bottom: 50px;
  @include min-screen($m) {
    flex-basis: 33%;
  }
  &-image {
    display: flex;
    justify-content: center;
    padding-bottom: rem(30px);
    img {
      box-shadow: -3px 2px 15px rgba(0, 0, 0, 0.25);
    }
  }
  &-content {
    text-align: center;
  }
  &-title {
    color: $red;
  }
  &-author {
    color: $dark-grey;
  }
  &-wrap {
    position: relative;
    padding: 20px 60px 25px;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($red, 0.9);
    padding: 70px 50px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    @include transition;
    &:hover {
      opacity: 1;
    }
    &-content {
      color: $white;
      text-align: center;
    }
    &-icons {
      text-align: center;

      .fa {
        background-color: $white;
        color: $red;
        padding: 15px;
        font-size: rem(17px);
        margin-right: 12px;
        margin-left: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        @include transition;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
