.book__header {
  &.container {
    max-width: rem(850px);
  }
  margin-top: rem(50px);
  .wrap {
    @include min-screen($m) {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}
.book__left {
  flex-basis: 66%;
  @include min-screen($m) {
    padding-right: 100px;
  }
}
.book__right {
  flex-basis: 33%;
}
.book__author {
  text-transform: uppercase;
  color: $dark-grey;
  font-size: rem(13px);
  letter-spacing: 0.34px;
  line-height: 1.4;
}
.book__subtitle {
  font-size: rem(16px);
  letter-spacing: -0.27px;
  border-bottom: 1px solid $darkest-grey;
  color: $darkest-grey;
  padding-bottom: 20px;
  font-family: $freightText;
  line-height: 23px;
}
.book__format {
  margin-top: rem(60px);
  &--title {
    margin: 0;
    text-transform: uppercase;
    color: $grey;
    font-size: rem(10px);
    font-weight: 400;
  }
  &--choice {
    display: block;
    @include min-screen(500px) {
      display: flex;
      justify-content: flex-start;
    }
  }
  &--select {
    label {
      display: block;
      background: $light-white;
      padding: 5px 10px;
      margin-right: 15px;
      @include min-screen(500px) {
        width: 200px;
      }
      width: 300px;

      color: $darkest-grey;
    }
    select {
      background: $light-white;
      padding: 5px 10px;
      border: none;
      border-radius: 0;
      @include min-screen(500px) {
        width: 220px;
      }
      width: 320px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      span {
        text-align: right;
      }
    }
    margin-bottom: 30px;
  }
  &--cart {
    @include max-screen(500px) {
      margin-bottom: 20px;
    }
    display: block;
    color: $red;
    border: 1px solid $red;
    height: rem(37px);
    line-height: rem(37px);
    width: rem(123px);
    text-align: center;
    font-size: rem(13px);
    span {
      margin-right: 8px;
    }
    &:hover {
      background: $red;
      color: $white;
    }
  }
}
.book__image {
  // @include min-screen($m) {
  //   max-width: rem(236px);
  // }

  img {
    margin: 0 auto;
    display: block;
  }
}
.book__preview {
  @extend .button;
  display: block;
  color: $red;
  text-align: center;
  margin: 15px auto 0;
  width: 200px;
}

.book__content {
  @extend .text-body-large;
}

.aoi-title {
  font-family: $verlagBold;
  font-size: rem(13px);
  text-transform: uppercase;
}
