.book-tabs {
  background-color: $beige;
  margin: rem(50px) 0;
  .container {
    max-width: rem(850px);
  }
  &__nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &-item {
      padding: 15px;
      border-top: 2px solid $red;
      width: rem(115px);
      text-align: center;

      &:hover,
      &:active {
        border-color: $grey;
        a {
          color: $grey;
        }
      }

      a {
        color: $red;
        text-transform: uppercase;
        font-size: rem(13px);
        font-weight: 600;
        text-align: center;
      }
    }
  }
  &__content {
    &-item {
      max-width: 666px;
      margin: 20px auto 0;
      padding: 0 0 118px;
      h4 {
        font-family: $verlagBold;
      }

      .author {
        @include min-screen($m) {
          display: flex !important;
          justify-content: space-between;
        }
        .author__content {
          flex-basis: 66%;
        }
        .author__img {
          flex-basis: 33%;
          padding-right: 15px;
        }
        .author__link {
          color: $darkest-grey;
          border-bottom: 1px dashed $darkest-grey;
          display: inline-block;
          margin-top: rem(15px);
          &:hover {
            color: $red;
            border-color: $red;
          }
        }
      }
    }
  }
}
