.book-listing__hero {
  margin-top: rem(-21px);
  color: $white;
  height: rem(287px);
  display: flex;
  align-items: center;
  &-title {
    text-transform: uppercase;
    font-family: $base-font;
    font-weight: 400;
    font-size: rem(28px);
    letter-spacing: -0.69px;
  }

  &-content {
    width: $max-width;
  }
  &-subtitle {
    max-width: 405px;
    font-family: $verlagBold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.71);
  }
}
