.book-finder {
  background-color: $yellow;
  color: $white;
  @include min-screen($s) {
    max-width: rem(512px);
  }
  max-width: rem(300px);
  min-height: rem(142px);
  padding: 15px 20px;
  position: fixed;
  top: 38%;

  transition: all 0.4s ease-in-out;
  z-index: 10;
  box-shadow: 15px 15px 13px rgba(0, 0, 0, 0.21);
  &:hover {
    cursor: pointer;
  }
  &.isOpen {
    right: 0;
  }

  &__title {
    font-size: rem(13px);
    text-transform: uppercase;
    letter-spacing: 0.34px;
    font-family: $base-font;
    transform: rotate(90deg);
    transform-origin: top left;
    position: relative;
    left: 20px;
    top: 15px;
  }
  &__form {
    padding-left: 50px;
    padding-top: 10px;
  }
  &__input {
    color: $dark-blue;
    font-style: rem(16px);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 8px;
  }
  &__submit {
    background-color: transparent;
    font-family: $verlagBlack;
    font-size: rem(23px);
    letter-spacing: -0.57px;
    font-weight: 900;
    border: none;
    padding: 0;
    position: relative;
    width: 100%;
    text-align: left;
    span {
      position: absolute;
      right: 0;
    }
  }
}
