.button {
  line-height: 55px;
  height: 55px;
  background-color: $white;
  font-family: $base-font;
  font-size: rem(13px);
  font-weight: 400;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  transition: all $animation-time ease-in-out;
  padding-left: 40px;
  padding-right: 40px;
  &:hover {
    box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.26);
  }
}

.button--outline {
  @extend .button;
  background-color: transparent;
  box-shadow: none;
  // border: 2px solid transparent;
  &:hover {
    border: 2px solid $red;
    box-shadow: none;
  }
}

.button--outline--below {
  @extend .button--outline;
  border-bottom: 2px solid $red;
}
.go-back {
  color: $dark-grey;
  border: none !important;
  &:hover {
    color: $black !important;
  }

  span {
    color: $white;
    background-color: $dark-grey;
    font-size: rem(8px);
    height: 13px;
    width: 13px;
    line-height: 13px;
    text-align: center;
    border-radius: 100%;
    position: relative;
    top: -3px;
  }
}
