.catalogs {
  &__item {
    box-sizing: border-box;
    margin-bottom: 50px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    flex-basis: 20%;
    padding-right: 30px;
    img {
      width: 100%;
      height: auto;
      box-shadow: -3px 2px 15px rgba(0, 0, 0, 0.25);
    }
  }
  &__content {
    flex-basis: 80%;
    @include min-screen($m) {
      margin-top: rem(30px);
    }
  }
  &__pdf {
    margin-top: rem(30px);
    a {
      color: $red;
      text-transform: uppercase;
      font-size: rem(13px);
      text-align: center;
      font-weight: 600;
      border: 2px solid transparent;
      border-top-color: $red;
      padding: rem(15px);
      &:hover {
        color: $dark-red;
        border-color: $dark-red;
      }
    }
  }
}
