.personnel-links {
  @include min-screen($m) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    box-sizing: border-box;
    flex-basis: 50%;

    &:nth-child(odd) {
      @include min-screen($m) {
        padding-right: rem(85px);
      }
    }
    &:hover {
      a {
        color: $dark-red;
        border-color: $dark-red;
      }
    }
    a {
      color: $red;
      font-size: rem(13px);
      text-transform: uppercase;
      font-weight: 600;
      border: 2px solid transparent;
      border-top-color: $red;
      display: block;
      padding: rem(20px);
      margin: rem(20px) 0 rem(25px);
    }
  }
}
.page-template-contact {
  .article {
    @include min-screen($s) {
      display: flex;
      align-items: center;
    }

    * {
      flex-basis: 50%;
    }
  }
}
