.footer-form {
  margin-top: rem(20px);
  input,
  button {
    background-color: transparent;
    border: none;
    color: $white;
    display: block;
    width: 300px;
    @include min-screen($s) {
      width: 420px;
    }
  }
  input {
    border-bottom: 1px solid $white;
    padding-bottom: 10px;
    padding-left: 0;
  }
  button {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    line-height: 50px;
    .fa {
      line-height: 50px;
    }
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $white;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $white;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: $white;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $white;
  }
}
