.header-carousel {
  @include min-screen($s) {
    margin-top: 44px;
    margin-bottom: 95px;
  }
  @include max-screen(680px) {
    margin-top: 0;
    padding-top: 0;
  }
  max-width: 680px;
  height: 400px;
  @include min-screen(850px) {
    max-width: 871px;
  }

  margin-left: auto;
  margin-right: auto;
}

.header-carousel__slide {
  display: flex !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;
  @supports (background-blend-mode: multiply) {
    background-blend-mode: multiply;
  }
  @supports not (background-blend-mode: multiply) {
    &::after {
      background-color: $red;
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.75;
    }
  }
}
.header-carousel__slide-content {
  text-transform: uppercase;
  max-width: 400px;
}
.header-carousel__slide-tagline {
  color: $white;
  font-size: rem(13px);
  letter-spacing: 0.34px;
  text-transform: uppercase;
  font-weight: 300;
}
.header-carousel__slide-title {
  @extend .h1;
  color: $white;
  margin-top: 0;
}
.header-carousel__slide-link {
  @extend .button;
  display: inline-block;
  width: auto;
  a {
    color: $red;
  }
}
