.info-boxes {
  margin-bottom: (40px);
  max-width: rem(930px);
  @include max-screen($s) {
    padding-top: rem(25px);
  }
  @include min-screen($m) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.info-box {
  padding: 0 10px 20px;
  box-sizing: border-box;
  @include min-screen($l) {
    flex-basis: 33%;
  }
  flex-basis: 50%;
}
.info-box__wrap {
  padding: rem(30px) rem(20px) rem(22px);
  color: $white;
  min-height: rem(330px);
  position: relative;
  @include flexbox(space-between, column nowrap);
  &:hover {
    @supports (background-blend-mode: multiply) {
      background-blend-mode: multiply;
    }

    .info-box__overlay {
      @supports (background-blend-mode: multiply) {
        opacity: 0;
      }
      @supports not (background-blend-mode: multiply) {
        opacity: 0.7;
      }
      opacity: 0.7;
    }
  }
}

.info-box__overlay {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
.info-box__content,
.info-box__link {
  z-index: 2;
}
.info-box__content {
  margin-bottom: 40px;
  font-family: $freightText;
  font-size: rem(18px);
}

.info-box__link {
  @extend .button--outline--below;
  text-align: left;
  color: $white;
  border-color: $white;
  display: inline-block;
  width: auto;
  border: 2px solid transparent;
  border-bottom: 2px solid $white;
  padding-left: rem(20px);
  &:hover {
    border-color: $white;
    a {
      color: $white;
    }
  }
}
