.journal-catalog {
  padding: 70px 0 120px;
  @include min-screen($m) {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex-basis: 48%;
    max-width: 500px;
  }

  &__title {
    font-family: $verlagBold;
    position: relative;
    left: rem(16px);
  }
  &__slider {
    &-slide {
      position: relative;
      .wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__image {
    flex-basis: 33%;
    padding-right: rem(16px);
    padding-left: rem(16px);
    height: rem(255px);

    img {
      box-shadow: -3px 2px 15px rgba(0, 0, 0, 0.26);
    }
  }
  &__text {
    flex-basis: 66%;
    h3 {
      margin: 0 0 rem(10px);
      a {
        color: $red;
        font-family: $freightText;
        font-size: rem(18px);

        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      font-size: rem(13px);
    }
  }
  &__button {
    color: $red;
    border: 2px solid transparent;
    border-top: 2px solid $red;
    text-align: left;
    text-transform: uppercase;
    padding: 15px 100px 15px 5px;
    font-size: rem(13px);
    position: relative;
    top: rem(10px);
    &:hover {
      border-color: $dark-red;
      color: $dark-red;
    }
  }
  &__numbers {
    position: absolute;
    color: $red;
    bottom: rem(-10px);
    left: rem(85px);
    font-size: rem(11px);
  }
  .fa {
    position: absolute;
    bottom: 0;
    color: $red;
    font-size: rem(13px);
    &:hover {
      cursor: pointer;
    }
  }
  .fa-chevron-right {
    left: rem(118px);
  }
  .fa-chevron-left {
    left: rem(58px);
  }
}
