.menu-main-navigation-container {
  position: absolute;
  top: rem(67px);
  background: $red;
  width: 100%;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  z-index: 10;
  transition: $animation-time all ease-in-out;

  &.show {
    max-height: 3000px;
    overflow: visible;
  }

  #primary-menu {
    padding: 30px 0 0 0;
    margin: 0 15px;
    list-style-type: none;
    @extend %container;

    @include min-screen($m) {
      margin: 0 auto;
      padding: 50px 15px 0;
      @include flexbox();
    }

    li {
      margin-bottom: 20px;
      opacity: 0;

      @include min-screen($m) {
        flex-basis: 48%;
        margin-bottom: 40px;
      }

      a {
        display: block;
        padding: 10px 15px;
        border-top: 2px solid $white;
        text-transform: uppercase;
        font-family: $base-font;

        &:hover {
          border-top-color: $dark-red;
        }

        @include min-screen($m) {
          padding: 20px 30px;
        }
      }
    }
  }
}
