.news-tabs-slider {
  &__slide {
    position: relative;
    margin-top: 20px;
    @include min-screen($m) {
      display: flex !important;
      justify-content: space-between;
    }
  }
  &__media {
    flex-basis: 33%;
    padding: 0 15px;
  }
  &__content {
    flex-basis: 66%;
    @include max-screen($m) {
      padding-top: 15px;
      padding-left: 15px;
    }
  }
  .fa {
    color: $beige;
    background-color: $red;
    font-size: rem(13px);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -40px;
    right: 0;
    &:hover {
      cursor: pointer;
    }
  }
  .fa-arrow-left {
    right: 75px;
  }
  .fa-arrow-right {
  }
}
