.pagination {
  background: $light-white;
  padding: rem(12px);
  margin-bottom: rem(50px);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  &__arrows {
    display: flex;
    align-items: center;

    &.first {
      justify-content: flex-start;
    }
    &.last {
      justify-content: flex-end;
    }

    a {
      color: $white;
    }
  }
  &__jump {
    margin-right: 12px;
  }
  &__jump,
  &__go {
    background-color: $dark-blue;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $footer-bg;
    }
  }
  &__numbers {
    display: flex;
    justify-content: center;
    color: $dark-grey;
    @include max-screen($s) {
      li {
        &:nth-child(3),
        &:nth-child(4) {
          display: none;
        }
      }
    }

    &-item,
    &-item--dots {
      margin-right: rem(14px);
      @include min-screen($s) {
        margin-right: rem(28px);
      }
    }
    &-item,
    &-item--last {
      color: $dark-grey;
      font-family: $freightText;
      font-size: rem(18px);
    }
  }

  li {
    list-style-type: none;
    margin-bottom: 0;
  }
}
