.related-posts {
  background: $light-white;
  padding: 35px 15px 45px;
  &__top-title {
    font-family: $verlagBlack;
    font-size: rem(13px);
    text-transform: uppercase;
    color: $darkest-grey;
    margin-bottom: rem(60px);
  }
  .container {
    @include min-screen($s) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__item {
    flex-basis: 33%;
    &-title {
      font-family: $verlagBold;
      text-transform: capitalize;
      font-size: rem(16px);
      a {
        color: $darkest-grey;
        &:hover {
          color: $red;
          text-decoration: underline;
        }
      }
    }
  }
}
