.supapress-search-form {
  display: none;
  position: absolute;
  top: rem(67px);
  background: $red;
  width: 100%;
  left: 0;
  right: 0;
  padding-bottom: 15px;
  z-index: 1;

  @include min-screen($m) {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  &.show {
    display: block;
  }

  .search-form {
    margin: 0 15px;
    @include flexbox(space-between, row nowrap);
    border-bottom: 1px solid $white;
    padding: 0 10px;

    @include min-screen($m) {
      margin: 0 auto;
    }

    .search-field {
      -webkit-appearance: none;
      border: none;
      background: transparent;
      padding: 10px 0;
      width: 100%;
      color: $white;

      @include placeholder {
        color: $white;
        font-size: 14px;

        @include min-screen($m) {
          font-size: rem(16px);
        }
      }
    }

    .search-submit {
      margin-left: 0;
      background: transparent;
      border: none;
      color: transparent;
      position: absolute;
      top: 0;
      left: 0;
    }

    #search-input-icon {
      background: none;
      border: none;
      padding: 0;

      &:before {
        font-size: 16px;

        @include min-screen($m) {
          font-size: rem(20px);
        }
      }
    }
  }
}
