.editors {
  @include min-screen($s) {
    display: flex;
    justify-content: space-between;
    margin-top: rem(45px);
  }

  &__item {
    @include min-screen($s) {
      border-top: 1px solid $light-white;
      flex-basis: 48%;
    }
    text-align: center;
  }
  &__title {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

.series__desc {
  margin-top: rem(50px);
  .single-imprints & {
    margin-top: rem(30px);
  }
}
.series__image {
  margin-top: rem(40px);
  position: relative;
  display: flex;
  align-items: center;

  img {
    margin: 0 auto;
    display: block;
  }
  @include min-screen($s) {
    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      height: 96px;
      background: $dark-grey;
    }
    &:before {
      left: rem(250px);
    }
    &:after {
      right: rem(250px);
    }
  }
}

.single-series,
.single-imprints {
  .header {
    margin-bottom: rem(30px);
  }
}
