.series__title {
  text-align: center;
  font-family: $verlagBold;
  font-size: rem(16px);
  color: $darkest-grey;
  margin-top: rem(50px);
  margin-bottom: rem(30px);
}
.series__tiles,
.imprints__tiles,
.trending-books {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  @include transition;
}

.last__tiles {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  &.show {
    max-height: 1000px;
    overflow: visible;
    opacity: 1;
  }
}

.series__item {
  box-sizing: border-box;
  padding: 0 10px 20px;
  flex-basis: 50%;
  min-height: rem(120px);

  @include min-screen($m) {
    flex-basis: 33%;
  }
  @include min-screen($l) {
    flex-basis: 25%;
  }
  &-wrap {
    min-height: rem(120px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    position: relative;
    padding: 0 20px;
  }
  &-title {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    @include min-screen($s) {
      font-size: rem(13px);
    }
    font-size: rem(11px);
    z-index: 1;
    pointer-events: none;
    color: $white;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.2);
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $red;
    }
  }
}
.open-tiles {
  cursor: pointer;
  @extend .text-body-small;
  color: $red;
  text-transform: uppercase;
  letter-spacing: -0.32px;
  padding-bottom: rem(20px);
  border-bottom: 2px solid $red;
  width: rem(180px);
  margin: 30px auto 0;
}

.imprints__item {
  box-sizing: border-box;
  padding: 0 1% 20px;
  flex-basis: 100%;
  &:hover {
    a {
      color: $white;
    }
    .imprints_item-overlay {
      background-color: $red;
    }
  }

  @include min-screen($m) {
    flex-basis: 50%;
  }
  @include min-screen($l) {
    flex-basis: 33%;
  }
  &-wrap {
    border: 2px solid $red;
    min-height: rem(66px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $red;
      .imprints__item-title {
        color: $white;
      }
    }
  }
  &-title {
    color: $red;
    font-weight: 600;
    text-transform: uppercase;
    font-size: rem(14px);
    pointer-events: none;
    a {
      color: $red;
    }
  }
}

//Trending now
.trending-now {
  background: $light-white;
  padding-top: rem(30px);
  padding-bottom: rem(60px);
  margin-top: rem(80px);
}
.trending__item {
  box-sizing: border-box;
  padding: 0 10px 20px;
  flex-basis: 100%;

  @include min-screen($m) {
    flex-basis: 50%;
  }
  @include min-screen($l) {
    flex-basis: 25%;
  }
  &-wrap {
    min-height: rem(267px);
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-out;
    background-size: cover;
    cursor: pointer;
    &:hover {
      .trending__item-desc,
      .trending__item-author {
        color: $white;
      }
    }
  }
  &-desc {
    font-size: rem(16px);
    font-family: $verlagBold;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: rem(20px);
    transition: all 0.3s ease-out;
  }
  &-author {
    font-family: $freightText;
    text-transform: uppercase;
    font-size: rem(13px);
    letter-spacing: 0.34px;
    color: $black;
    transition: all 0.3s ease-out;
  }
}

//TODO: overlay
