.single-hero {
  //   margin-top: rem(-19px);
  color: $white;
  text-align: center;
  margin-bottom: rem(30px);
  &__content {
    display: flex;
    align-items: space-betwen;
    justify-content: center;
    flex-direction: column;
    height: rem(358px);
  }
  position: relative;
  &__top-title {
    position: relative;
    top: 40px;
    font-family: $base-font;
    font-weight: 600;
    font-size: rem(28px);
    margin: 0;
  }
  &__cats {
    text-transform: uppercase;
    font-family: $base-font;
    font-weight: 400;

    .cat-item {
      margin-right: 15px;
      &:after {
        content: '|';
        position: relative;
        left: 8px;
      }
      &:last-child:after {
        content: '';
      }
    }
  }
  &__title {
    font-family: $verlagBold;
    font-size: rem(26px);
    line-height: 1.4;
  }
  &__author {
    @extend .text-body-small;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.34px;
  }
}
