.staff {
  &__item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  &__image {
    flex-basis: 20%;
    padding-right: 20px;
  }
  &__content {
    flex-basis: 80%;
  }
  &__name {
    font-family: $verlagBlack;
    font-size: rem(23px);
    margin: 0;
    margin-bottom: rem(15px);
  }
  &__title {
    font-size: rem(16px);
    font-weight: 400;
    margin: rem(10px) 0;
  }
  &__mail {
    color: $red;
    padding: 15px 20px;
    border: 2px solid $red;
    max-width: rem(150px);
    text-align: center;
    margin-top: rem(15px);
    margin-bottom: rem(15px);
    &:hover {
      background-color: $red;
      color: $white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      a {
        color: $white;
      }
    }
    a {
      color: $red;
      display: inline;
    }
  }
  &__phone {
    color: $darkest-grey;
  }
  &__twitter {
    display: block;
    color: $darkest-grey;
    margin-bottom: 20px;
  }
  &__series-title {
    margin: 0;
    font-size: rem(16px);
    a {
      color: $darkest-grey;
    }
  }
  &__more {
    color: $darkest-grey;
    text-transform: capitalize;
    display: inline;
    font-size: rem(18px);
    font-weight: 600;
  }
}
