.tabs {
  @include min-screen($l) {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 400;
    font-size: rem(28px);
    color: $darkest-grey;
    padding-bottom: 25px;
  }
  &__nav {
    flex-basis: 33%;
    &-wrapper {
      @include max-screen($l) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    &-item {
      box-sizing: border-box;
      flex-basis: 47.5%;
      color: $red;
      border: 2px solid transparent;
      border-top: 2px solid $red;
      text-align: left;
      text-transform: uppercase;
      padding: 15px 5px 15px 5px;
      font-size: rem(13px);
      @include max-screen($l) {
        &:nth-child(odd) {
          margin-right: 5%;
        }
      }

      @include min-screen($l) {
        margin-right: 100px;
      }
      margin-bottom: 35px;
      transition: all 0.3s ease-in-out;

      &:hover {
        border-color: $dark-red;
        a {
          color: $dark-red;
        }
      }
      &.active {
        border-top-color: $grey;
        &:hover {
          border-color: $grey;
        }
        a {
          color: $grey;
        }
      }

      a {
        color: $red;
      }
    }
  }
  &__content {
    flex-basis: 66%;
    &-item {
      color: $darkest-grey;
      h4 {
        font-family: $freightText;
        font-size: rem(16px);
      }
    }
  }
}
