//IMPORT FONTS

@import url('//hello.myfonts.net/count/39081b');

@font-face {
  font-family: 'FreightSansProBold-Regular';
  src: url('../../assets/fonts/39081B_0_0.eot');
  src: url('../../assets/fonts/39081B_0_0.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/39081B_0_0.woff2') format('woff2'),
    url('../../assets/fonts/39081B_0_0.woff') format('woff'),
    url('../../assets/fonts/39081B_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FreightTextProBold-Regular';
  src: url('../../assets/fonts/39081B_1_0.eot');
  src: url('../../assets/fonts/39081B_1_0.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/39081B_1_0.woff2') format('woff2'),
    url('../../assets/fonts/39081B_1_0.woff') format('woff'),
    url('../../assets/fonts/39081B_1_0.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Assistant:400,600');

@font-face {
  font-family: 'Verlag-Bold';
  src: url('../../assets/fonts/Verlag-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Verlag-Bold.otf') format('opentype'),
    url('../../assets/fonts/Verlag-Bold.woff') format('woff'),
    url('../../assets/fonts/Verlag-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Verlag-Bold.svg#Verlag-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verlag-Black';
  src: url('../../assets/fonts/Verlag-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Verlag-Black.otf') format('opentype'),
    url('../../assets/fonts/Verlag-Black.woff') format('woff'),
    url('../../assets/fonts/Verlag-Black.ttf') format('truetype'),
    url('../../assets/fonts/Verlag-Black.svg#Verlag-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

//}

body {
  font-family: $base-font;
  font-weight: 400;
  font-size: rem($base-font-size);
  color: $darkest-grey;
  line-height: 1.5em;
}

.h1 {
  font-family: $verlagBold;
  color: $black;
  font-size: rem(24px);
  line-height: rem(33px);
  letter-spacing: rem(-0.59px);
  text-transform: uppercase;
  text-align: center;

  @include min-screen($m) {
    font-size: rem(29px);
    line-height: 1.5;
    letter-spacing: rem(-0.71px);
  }
  @include min-screen($l) {
    font-size: rem(33px);
    line-height: rem(48px);
    letter-spacing: rem(-0.81px);
  }
}

.h2 {
  font-family: $freightText;
  font-size: rem(26px);
  color: $black;
  letter-spacing: rem(-0.64px);
  line-height: rem(26px * 1.5);
}

.h4 {
  font-family: $verlagBold;
  font-size: rem(16px);
  color: $black;
  line-height: rem(16px * 1.5);
}

.h5 {
  font-family: $verlagBold;
  font-size: rem(16px);
  color: $black;
  line-height: rem(16px * 1.5);
}
.h6 {
  font-family: $verlagBold;
  font-size: rem(23px);
  color: $darkest-grey;
  letter-spacing: rem(0.57px);
  line-height: rem(32px);
}

.h3,
h3 {
  font-family: $verlagBold;

  font-weight: 600;
  font-size: rem(18px);
}

p {
  margin: 0 0 rem(20px);
}

[class^='fa-'] {
  @extend .fa;
  font-size: 20px;
  color: $white;
}

a {
  transition: all $animation-time ease-in-out;
  color: $white;
  &:hover {
    color: $dark-red;
    text-decoration: none;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

ul,
ol {
  margin: 0 0 1em rem(15px);
  padding: 0 0 0 rem(20px);
  line-height: rem(26px);
  li {
    margin-bottom: 0.5em;
  }
}

cite {
  font-size: rem(14px);
}

mark {
  color: white;
}

::selection {
  //color: $white;
}

em {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}
.text-body-large {
  font-family: $base-font;
  font-size: rem($base-font-size);
  color: $darkest-grey;
  letter-spacing: -0.27px;
  line-height: 23px;
}

.text-body-small {
  font-family: $base-font;
  font-size: rem(13px);
  color: $darkest-grey;
  letter-spacing: -0.22px;
  line-height: 17px;
}
.text-link {
  @extend .text-body-large;
  border-bottom: 1px dashed $darkest-grey;
  &:hover {
    color: $dark-red;
    border-color: $dark-red;
  }
}
.page-title {
  color: $darkest-grey;
  font-family: $base-font;
  letter-spacing: -0.69px;
  font-size: rem(24px);
  line-height: rem(33px);
  letter-spacing: rem(-0.59px);

  @include min-screen($m) {
    font-size: rem(29px);
    line-height: 1.5;
    letter-spacing: rem(-0.71px);
  }
  @include min-screen($l) {
    font-size: rem(33px);
    line-height: rem(48px);
    letter-spacing: rem(-0.81px);
  }
}
.article-content {
  a {
    @extend .text-link;
  }
}

blockquote {
  color: $red;
  font-family: $freightText;
  font-size: rem(22px);
  line-height: 29px;
  margin: rem(25px) 0;

  .author {
    color: $grey;
    font-family: $base-font;
    text-transform: uppercase;
    font-size: rem(13px);
  }
}
