/*
    Fonts
*/

$base-font: 'Source Sans Pro', sans-serif;
$freightText: 'FreightTextProBold-Regular', serif;

$verlagBlack: 'Verlag-Black', sans-serif;
$verlagBold: 'Verlag-Bold', sans-serif;
$base-font-size: 16px;

/*
    Colours
*/

$white: #fff;
$black: #000;
$blue: #136eab;
$grey: #c4c4c4;
$red: #e03229;
$dark-red: #a01f28;
$dark-grey: #7d868c;
$light-grey: #ebebeb;
$light-white: #f0f2f2;
$lightest-grey: #f6f6f6;
$dark-blue: #1f4f64;
$green: #00835b;
$yellow: #eec819;
$brown: #af610d;
$light-green: #308273;
$darkest-grey: #4a4a4a;
$beige: #fefbed;
$light-blue: #f5fbff;
$purple: #74004c;
$footer-bg: #58c2ad;
/*
Links
 */

/*
Footer
 */
$grey-footer: #525252;

/*
	Utilities
*/
$max-width: 1024px;

$animation-time: 0.3s;
