<section class="tabs container">
    {% set title = block.title  | e('esc_html') %}
    {% set slug_title = title  | replace(' ', '_') | lower %}
    <div class="tabs__nav">
        <h2 class="tabs__title">{{ title  }}</h2>
        <ol class="hashTabber-nav tabs__nav-wrapper" data-hashtabber-id={{slug_title}} data-hashtabber-default={{block.tabs[0].title | replace(' ', '_') | lower}}>
            {% for item in block.tabs %}
                {% set nav_title = item.title | e('esc_html') %}
                {% set slug_nav_title = nav_title | replace(' ', '_') | lower  %}
                <li class="tabs__nav-item" data-hashtabber-pair={{slug_nav_title}}>
                    <a>{{ nav_title }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
    <ol class="hashTabber-data tabs__content" data-hashtabber-id={{slug_title}}>
        {% for item in block.tabs %}
            {% set nav_title = item.title | e('esc_html') %}
            {% set slug_nav_title = nav_title | replace(' ', '_') | lower  %}
            <li class="tabs__content-item" data-hashtabber-pair={{slug_nav_title}}>
                <h4>{{ nav_title }}</h4>
                {{ item.content |wpautop | e('wp_kses_post')   }}
            </li>
        {% endfor %}
    </ol>
</section>