<section class="about-boxes">
    {% for item in block.boxes %}
        <div class="about-boxes__item">
            <h4 class="about-boxes__item-title">{{ item.title | e('esc_html') }}</h4>
            <div class="about-boxes__item-content">
                <p>{{ item.content | e('esc_html') }}</p>
            </div>
            <a href="{{ item.link['url'] }}" target="{{item.link['target']}}" class="about-boxes__item-link">{{ item.link['title'] }}</a>
        </div>

    {% endfor %}
</section>