{% for block in post.get_field('about_content_blocks') %}
    {% set block_class = block.acf_fc_layout  %}
    {% if block_class == 'block_about_tabs' %}
        {% include 'blocks/_about-tabs.twig' %}
    {% elseif block_class == 'block_about_boxes' %}
        {% include 'blocks/_about-boxes.twig' %}
    {% elseif block_class == 'block_about_content' %}
        {% include 'blocks/_about-content.twig' %}

    {% endif %}

{% endfor %}