footer.site-footer {
  overflow: hidden;
  //   margin-top: rem(40px);
  .site-info {
    padding: 0;
    @include min-screen($m) {
      @include flexbox(space-between, row nowrap);
      padding: 0 rem(15px);

      &__left {
        flex-basis: 70%;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          height: 100%;
          top: 0;
          width: 9999px;
          background-color: $footer-bg;
          right: 100%;
        }
      }

      &__right {
        flex-basis: 30%;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 100%;
          top: 0;
          width: 9999px;
          background-color: $dark-blue;
          left: 100%;
        }
      }

      &__left,
      &__right {
        position: relative;
      }
    }

    &__left {
      background-color: $footer-bg;
      padding: 30px 15px 0 15px;

      @include min-screen($m) {
        padding: 50px 0 30px 0;
      }

      .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        @include flexbox();

        @include min-screen($m) {
          justify-content: flex-start;
          max-width: 600px;
        }

        li {
          flex-basis: 45%;
          text-align: center;
          margin-bottom: 20px;
          border: 1px solid white;
          @include flexbox(center, row nowrap);
          align-items: center;
          font-size: rem(18px);
          transition: $animation-time all ease-in-out;

          @include min-screen($m) {
            flex-basis: auto;
            margin-right: 30px;
            padding: 0 40px;
          }

          &:hover {
            border-color: $dark-blue;
            &:before,
            a {
              color: $dark-blue;
            }
          }

          &:before {
            margin-right: 5px;
            transition: $animation-time all ease-in-out;
          }

          a {
            font-family: $base-font;
            font-size: rem(12px);
            line-height: rem(10px);
            padding: 20px 0;
            display: inline-block;
          }
        }
      }
    }

    &__right {
      background-color: $dark-blue;
      padding: 30px 15px;
      @include flexbox();

      @include min-screen($m) {
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding: 50px 0 30px 30px;
      }

      &--left {
        @include min-screen($m) {
          margin-bottom: 20px;
        }
        svg {
          width: rem(130px);
        }
      }

      > div {
        flex-basis: 48%;

        @include min-screen($m) {
          flex-basis: auto;
        }
      }

      * {
        color: $white;
        font-size: rem(12px);
      }

      .site-info__right--right {
        p {
          line-height: rem(18px);
        }
        div:first-child {
          p {
            margin-bottom: 10px;
          }

          p:last-child {
            margin-bottom: 0;
          }
        }

        div:last-child {
          margin-top: 20px;

          p {
            margin-bottom: 0;
          }
        }
      }
      a {
        border-bottom: 1px dashed $white;
      }
    }
  }
  .social-media {
    margin-top: rem(20px);
    .fa {
      font-size: rem(20px);
      margin-right: rem(10px);
    }
    a {
      border: none;
    }
  }
}
