header.header {
  background-color: $red;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.site-header {
  $this: &;
  padding: 20px 15px;

  &__inner {
    @include flexbox();
    align-items: center;
  }

  &__left {
    @include flexbox();
    align-items: center;

    .menu-trigger {
      margin-right: 8px;
    }

    #{$this}__logo {
      max-width: rem(120px);
      line-height: 0;

      .logo-mobile {
        svg {
          width: 100%;
          height: auto;
        }

        @include min-screen($m) {
          display: none;
        }
      }

      .logo-desktop {
        display: none;

        svg {
          width: 370px;
          height: 27px;
        }

        @include min-screen($m) {
          display: block;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #{$this}__cart,
    div#search-trigger-mobile {
      @include flexbox();
      align-items: center;
      span {
        color: $white;
      }

      [class^='fa-'] {
        font-size: 20px;
      }
    }

    #{$this}__cart {
      margin-right: 15px;

      @include min-screen($m) {
        margin-right: 30px;
      }

      .copy-cart {
        display: none;
        margin-right: 10px;

        @include min-screen($m) {
          display: inline;
          font-size: 14px;
        }
      }
    }

    div#search-trigger-mobile {
      cursor: pointer;
      .copy-search {
        display: none;
        margin-right: 10px;

        @include min-screen($m) {
          display: inline;
          font-size: 14px;
        }
      }
    }
  }
}
