.container {
  @extend %container;
}
.site-content {
  position: relative;
  overflow: hidden;
}
.books-bg {
  position: absolute;
  top: 280px;
  width: 100%;
  height: 81%;
  z-index: -1;
  @include min-screen($m) {
    background: url('../assets/img/home-bg.png');
  }
}

//single
.article-body {
  margin: rem(80px) auto rem(30px);
  max-width: rem(832px);

  img {
    margin-top: rem(20px);
    margin-bottom: rem(20px);
  }
}

.generic {
  background-image: linear-gradient(to top, #ffffff 0%, $light-blue 100%);
  padding: rem(30px);
  @include min-screen($m) {
    padding: rem(45px) rem(80px);
  }
}

.page-template-about,
.page-template-staff-page,
.post-type-archive-catalogs,
.page-template-default:not(.home),
.page-template-contact {
  .site-content {
    padding-top: rem(87px);
  }
}

.site-content {
  padding-top: 67px;
}
