{% extends "base.twig" %}
{% block content %}
    <div class="container">
        <a class="go-back" href="/">
            <span class="fa fa-arrow-left"></span>
            Return to Home</a>
    </div>
    {% include "blocks/block-logic.twig" %}
{% endblock %}