{% extends "base.twig" %} {% block content %}
<div class="container">
  <a class="go-back" href="/books">
    <span class="fa fa-arrow-left"></span>
    Return to Books</a
  >
  <h1 class="page-title text-center">Catalogs</h1>

  <section class="catalogs generic">
    {% for item in posts %}
    <div class="catalogs__item">
      <h2 class="catalogs__name">{{ item.title | e('esc_html')}}</h2>

      <div class="catalogs__wrap">
        <div class="catalogs__image">
          <img
            src="{{ item.thumbnail | e('esc_url')}}"
            alt="image for {{ item.title | e('esc_html')}}"
          />
        </div>

        <div class="catalogs__content">
          {{ item.content | e('wp_kses_post')}}
          <div class="catalogs__pdf">
            <a
              href="{{ TimberImage(item.catalog_pdf) | e('esc_url')}}"
              target="_blank"
              >View Catalog</a
            >
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </section>
</div>
{% endblock %}
