{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>{% endblock %}<body
class="{{body_class}}" data-template="base.twig">
{# <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a> #}
<header class="header">
    {% block header %}
        {% include "header.twig" %}
    {% endblock %}
</header>
<section class="site-content" id="content" role="main">
    <div class="content-area" id="primary">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </div>
    {% include "partial/book-finder.twig" %}
    {% if sidebar %}
        <aside class="layout-sidebar">
            {{sidebar}}
        </aside>
    {% endif %}
</section>
{% block footer %}
    <footer class="site-footer" id="colophon">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}</body></html>