{% extends "base.twig" %}
{% block content %}
    <div class="container">

        <div class="book__header">
            <a class="go-back" href="/books">
                <span class="fa fa-arrow-left"></span>
                Return to Books</a>
            <div class="wrap">
                <div class="book__right">
                    <div class="book__image">
                        <img src={{ post.thumbnail | e('esc_url') }} alt="image for {{ post.title | e('esc_html') }}">
                        <a href={{ post.book_google_preview | e('esc_url')}} target="_blank" class="book__preview">Google Preview</a>
                    </div>
                </div>

                <div class="book__left">

                    <h1 class="book__title page-title">{{ post.title | e('esc_html') }}</h1>
                    <h4 class="book__subtitle">{{ post.book_subtitle | e('esc_html') }}</h4>
                    <div class="book__author">{{ post.book_author | e('esc_html')}}</div>
                    <div class="book__format">
                        <h6 class="book__format--title">Format</h6>
                        <div class="book__format--choice">
                            <div class="book__format--select">
                                <label for="format">Select a Format</label>
                                <select id="format">
                                    {% for item in post.get_field('book_format') %}
                                        {% set format = item.book_format_name | e('esc_html') %}
                                        {% set format_slug = format | replace(' ', '_') | lower %}
                                        <option value={{ format_slug }}>{{ format }}
                                            <span class="book__price">${{ item.book_format_price | e('esc_html') }}</span>
                                        </option>

                                    {% endfor %}

                                </select>
                            </div>
                            <a class="book__format--cart" href="#">
                                <span class="fa fa-cart-plus"></span>Add to cart</a>
                        </div>

                    </div>
                    <div class="book__content">{{ post.content | e('wp_kses_post')}}</div>
                </div>
            </div>
        </div>
    </div>
    {% include "partial/book-tabs.twig" %}
    {% include "partial/book-carousel.twig" %}
{% endblock %}
