{% extends "base.twig" %}
{% block content %}
    <h1 class="text-center page-title">{{ post.title }}</h1>
    {# Subjects #}
    <section class="series container">
        <h3 class="series__title">By subjects</h3>
        <div class="series__tiles">
            {% set series = post.get_field('choose_subjects') %}
            {% for item in series |
    slice(0,8) %}
                {% include "partial/tile.twig" %}
            {% endfor %}
        </div>
        <div class="series__tiles last__tiles hidden">
            {% set series = post.get_field('choose_subjects') %}
            {% for item in series |
    slice(8) %}
                {% include "partial/tile.twig" %}
            {% endfor %}
        </div>
        <h3 class="open-tiles text-center">All Subjects</h3>
    </section>
    {# Series #}
    <section class="series container">
        <h3 class="series__title">By series</h3>
        <div class="series__tiles">
            {% set series = post.get_field('choose_series') %}
            {% for item in series |
    slice(0,8) %}
                {% include "partial/tile.twig" %}
            {% endfor %}
        </div>
        <div class="series__tiles last__tiles hidden">
            {% set series = post.get_field('choose_series') %}
            {% for item in series |
    slice(8) %}
                {% include "partial/tile.twig" %}
            {% endfor %}
        </div>
        <h3 class="open-tiles text-center">All Series</h3>
    </section>
    <!-- Imprints -->
    <section class="imprints container">
        <h3 class="series__title">Imprints and Partners</h3>
        <div class="imprints__tiles">
            {% set imprints = post.get_field('choose_imprints') %}
            {% for item in imprints | slice(0,9) %}
                {% include "partial/imprint-tile.twig" %}
            {% endfor %}
        </div>
        <div class="imprints__tiles last__tiles hidden">
            {% set series = post.get_field('choose_imprints') %}
            {% for item in imprints |
        slice(9) %}
                {% include "partial/imprint-tile.twig" %}
            {% endfor %}
        </div>
        <h3 class="open-tiles text-center">All Imprints</h3>
    </section>
    <!-- Trending now -->
    {% include "partial/trending-now.twig" %}

    <!-- Journals and catalogs sliders -->

    {% include "partial/journal-slider.twig" %}
{% endblock %}
