{% extends "base.twig" %}
{% block content %}
    <div class="book-listing__hero" style="background: url({{ post.thumbnail | e('esc_url')}}) center center/cover no-repeat">
        <div class="book-listing__hero-content container">
            <h1 class="book-listing__hero-title">{{ post.title | e('esc_html') }}</h1>
            <div class="book-listing__hero-subtitle">{{ post.content | e('wp_kses_post')}}</div>
        </div>

    </div>
{% endblock %}