{% extends "page.twig" %} {% block contact %}
<h3>Personnel By Department</h3>
<section class="personnel-links">
  {% for item in post.get_field('personnel_links') %}
  <div class="personnel-links__item">
    <a
      href="{{ item.link['url'] | e('esc_url')}}"
      target="{{ item.link['target'] | e('esc_html')}}"
      >{{ item.link['title'] | e('esc_html')}}</a
    >
  </div>

  {% endfor %}
</section>
{% endblock %}
