<div class="site-info container">
    <div class="site-info__left">
        {% include "footer-menu.twig" %}
        {% include "partial/footer-form.twig" %}
    </div>
    <div class="site-info__right">
        <div class="site-info__right--left">
            <p>{{source('/dist/assets/img/logo-mobile.svg')}}</p>
        </div>
        <div class="site-info__right--right">
            <div>
                {{options.footer_contact | e('wp_kses_post') }}
            </div>
            <div>
                <p>{{__('&copy; Cornell University Press','cornell_university_press')| e('esc_html')}}
                    {{"now"|date('Y')}}
                </p>
                <p>{{__('Site Powered by', 'cornell_university_press') | e('esc_html')}}
                    <a href="http://nu.supadu.com/" target="_blank" title="Supadü Website">Supadü</a>
                </p>

            </div>
            {% include "partial/social-media.twig" %}
        </div>
    </div>
</div>
<!-- .site-info -->