{% if footer_menu %}
    {# {{dump(footer_menu)}} #}
    <div class="menu-footer-navigation-container">
        <ul class="menu" id="menu-footer-navigation">
            {% for item in footer_menu.items %}
                <li class="{{ item.classes | join(' ') }}">
                    <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}