<section class="site-header container" id="masthead">
    <div class="site-header__inner">
        <div class="site-header__left">
            <div class="menu-trigger hamburger hamburger--spin js-hamburger" tabindex="0">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="site-header__logo">
                <a href="{{ site.url }}" title="go back to homepage">
                    <span class="logo-desktop">
                        {{ source('/dist/assets/img/logo.svg') }}
                    </span>
                    <span class="logo-mobile">
                        {{source('/dist/assets/img/logo-mobile.svg')}}
                    </span>
                </a>
            </div>
        </div>
        <div class="site-header__right">
            {{ fn('cornell_university_press_cart', 'site-header__cart') }}
            <div class="search-trigger" id="search-trigger-mobile" tabindex="0">
                <span class="copy-search">{{__('Search the site','cornell_university_press') | e('esc_html')}}</span>
                <span class="fa-search"></span>
            </div>
        </div>
    </div>
    {% include "header-menu.twig" %}
    {% include "partial/search-form.twig" %}
</section>