{% if menu %}
    <div class="menu-main-navigation-container">
        <ul class="menu" id="primary-menu">
            {% for item in menu.items %}
                <li class="{{ item.classes | join(' ') }}">
                    <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                    {% include "header-menu.twig" with {'menu': item.children} %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}