{% extends "base.twig" %} {% block content %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
	<div class="container">
			<a class="go-back" href="/">
				<span class="fa fa-arrow-left"></span>
				Return to Home</a
			  >
<h1 class="page-title text-center">{{ post.title }}</h1>
</div>
<div class="container generic">

    <section class="article-content content-area">

      <div class="article">
        {{ post.content }}
      </div>
	</section>
	{% block contact %}{% endblock %}
  </article>
</div>
<!-- /content-wrapper -->
{% endblock %}
