{% extends "base.twig" %}
{% block content %}
    <div class="container">
        <div class="series__header">
            <h1 class="page-title text-center">{{ post.title | e('esc_html') }}</h1>
            {% block editors %}{% endblock %}
            <div class="series__desc text-center">
                {{ post.content | e('wp_kses_post') }}
            </div>
            <div class="series__image">
                <img src="{{ post.thumbnail | e('esc_url') }}" alt="{{ item.title }} image">
            </div>
        </div>
        <div class="books">
            {% block books %}
                {% include "partial/book-item.twig" %}
                {% include "partial/book-item.twig" %}
                {% include "partial/book-item.twig" %}
                {% include "partial/book-item.twig" %}
                {% include "partial/book-item.twig" %}
                {% include "partial/book-item.twig" %}
            {% endblock %}
        </div>
        {% include "partial/pagination.twig" %}
    </div>
{% endblock %}