{% extends "base.twig" %}

{% block content %}
    {% include "partial/single-hero.twig" %}
    <div class="container">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

            <section class="article-content">
                <a class="go-back" href="/">
                    <span class="fa fa-arrow-left"></span>
                    Return to Home</a>

                <div class="article-body">

                    {{post.content}}
                </div>
            </section>

        </article>
    </div>
    <!-- /content-wrapper -->
    {% if post.get_field('related_posts') %}
        {% include "partial/related-posts.twig" %}
    {% endif %}
{% endblock %}