{% extends "single-imprints.twig" %}
{% block editors %}
    <div class="editors">
        <div class="editors__item">
            <h4 class="editors__title">{{ post.serie_editor_title | e('esc_html') }}</h4>
            <p class="editors__text">{{ post.serie_editor_text | e('esc_html') }}</p>
        </div>
        <div class="editors__item">
            <h4 class="editors__title">{{ post.acquiring_editor_title | e('esc_html') }}</h4>
            <p class="editors__text">{{ post.acquiring_editor_text | e('esc_html') }}</p>
        </div>
    </div>
{% endblock %}