{% extends "base.twig" %}
{% block content %}
    <div class="container">
        <a class="go-back" href="/contact">
            <span class="fa fa-arrow-left"></span>
            Return to Contact Us</a>

        <h1 class="page-title text-center">{{ post.title | e('esc_html')}}</h1>
        <section class="staff generic">
            {% for item in post.get_field('staff') %}
                <div class="staff__item">
                    <div class="staff__image">
                        <img src="{{ TimberImage(item.image) | e('esc_url')}}" alt="image for {{ item.name | e('esc_html')}}"/>
                    </div>

                    <div class="staff__content">
                        <h2 class="staff__name">{{ item.name | e('esc_html')}}</h2>
                        <h5 class="staff__title">{{ item.title | e('esc_html')}}</h5>
                        <div class="staff__bio">
                            {{ item.bio | e('esc_html') | wpautop}}
                        </div>

                        <div class="staff__mail" href="mailto:{{ item.email['url'] | e('esc_html')}}">
                            <span class="fa fa-envelope"></span>
                            <a href="mailto:{{ item.email['url'] | e('esc_html')}}" target="_blanck">
                                {{ item.email['title'] | e('esc_html')}}</a>
                        </div>
                        <a class="staff__phone" href="tel:{{ item.phone | e('esc_html')}}">{{ item.phone | e('esc_html')}}</a>
                        <a class="staff__twitter" href="https://twitter.com/{{ item.twitter | e('esc_html')}}" target="_blank">
                            <span class="fa fa-twitter-square"></span>
                            {{ item.twitter | e('esc_html')}}</a>

                        <h4 class="staff__series-title">
                            <a href={{ item.series_link | e('esc_url')}}>{{ item.series_title | e('esc_html')}}</a>
                        </h4>

                        {{ item.series | e('esc_html') | wpautop}}
                    </div>
                </div>

            {% endfor %}
        </section>
    </div>
{% endblock %}
