<section class="also-of-interest">
    <h3 class="aoi-title text-center">Also of Interest</h3>
    <div class="book-carousel">
        {% for item in post.get_field('book_carousel')  %}
            {% set title = item.title | e('esc_html') %}

            <div class="book-carousel__slide">
                <a href={{ item.link['url']| e('esc_url') }} target={{ item.link['target'] | e('esc_html') }}>
                    <div class="book-carousel__slide-image">
                        <img src="{{ TimberImage(item.image) | e('esc_url') | resize(86, 129) }}" alt="image for {{ title }} ">
                    </div>
                    <div class="book-carousel__slide-title">
                        <h3>{{ title }}</h3>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>