<section class="book-tabs ">
    <div class="container">
        <ol class="hashTabber-nav book-tabs__nav" data-hashtabber-id="bookTabs">
            <li class="book-tabs__nav-item">
                <a>author</a>
            </li>
            <li class="book-tabs__nav-item">
                <a>Praise</a>
            </li>
            <li class="book-tabs__nav-item">
                <a>for educators</a>
            </li>
            <li class="book-tabs__nav-item">
                <a>more info</a>
            </li>
            <li class="book-tabs__nav-item">
                <a>media</a>
            </li>
        </ol>
        <ol class="hashTabber-data book-tabs__content" data-hashtabber-id="bookTabs">
            <li class="book-tabs__content-item ">
                <div class="author">
                    <div class="author__img">
                        <img alt="" src="http://lorempixel.com/300/250/">
                    </div>
                    <div class="author__content">
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        <a class="author__link" href="#" target="_blank">See all books by this author</a>

                    </div>
                </div>
            </li>
            <li class="book-tabs__content-item praise">praise</li>
            <li class="book-tabs__content-item educators">educators</li>
            <li class="book-tabs__content-item info">more info</li>
            <li class="book-tabs__content-item media">
                <h4>News</h4>
                {% include "partial/news-tab-slider.twig" %}
            </li>

        </ol>
    </div>


</section>