<div class="book-finder">
    <div class="book-finder__wrap">
        <div class="book-finder__title">
            <span class="fa-search"></span>
            Book Finder</div>
        <form role="search" action="{{site.path}}" class="book-finder__form">
            <input class="book-finder__input" placeholder="Enter Keywords here" title="search books" type="text">
                <button class="book-finder__submit" type="submit">Find a Book Now
                    <span class="fa-arrow-right"></span>
                </button>
            </form>
        </div>
    </div>