<div class="books__item">
    <div class="books__item-wrap">
        <div class="books__item-image">
            <img alt="book cover" src="http://lorempixel.com/150/213/">
        </div>
        <div class="books__item-content">
            <div class="books__item-title">Main Title Goes Here Main Title Goes Here Main Title Goes Here Main Title Goes Here Main Title Goes Here</div>
            <div class="books__item-subtitle">Subtitle Goes Here Subtitle Goes Here</div>
            <div class="books__item-author">
                Author Name here, Co-Author Name Here
            </div>
        </div>
        <div class="books__item-overlay">
            <div class="books__item-overlay-content">
                <div class="books__item-overlay-title">Main Title Goes Here Main Title Goes Here Main Title Goes Here Main Title Goes Here Main Title Goes Here</div>
                <div class="books__item-overlay-subtitle">Subtitle Goes Here Subtitle Goes Here</div>
            </div>
            <div class="books__item-overlay-icons">
                <a href="#" class="fa fa-eye"></a>
                <a href="#" class="fa fa-info-circle"></a>
                <a href="#" class="fa fa-cart-plus"></a>
            </div>
        </div>
    </div>
</div>