<form action="" class="footer-form">
    <input placeholder=" Enter Your Email Address" type="text">
    <button type="submit">Get Updates on New Books
        <span class="fa fa-arrow-right"></span>
    </button>
</form>