<section class="hero-section">
    <div class="header-carousel">
        {% for item in post.get_field('front_page_header_carousel')  %}
            <div class="header-carousel__slide" style="background:red url({{TimberImage(item.background_image) | e('esc_url')}}) center center/cover no-repeat; ">
                <div class="header-carousel__slide-content">

                    <h2 class="header-carousel__slide-title">{{ item.title | e('esc_html') }}</h2>
                    <div class="header-carousel__slide-link">
                        <a href="{{ item.link['url'] | e('esc_url')}}" target="{{ item.link['target'] }}">{{ item.link['title'] | e('esc_html')}}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
