<section class="info-boxes container">
    {% for item in post.get_field('front_page_information_boxes') %}
        <div class="info-box">
            <div class="info-box__wrap" style="background: {{ item.overlay_color }} url({{TimberImage(item.image) | e('esc_url')}}) center center/cover no-repeat; ">
                <div class="info-box__content">{{ item.content | e('esc_html') }}</div>
                <div class="info-box__link">
                    <a href="{{item.link['url']}}" target=" {{ item.link['target'] | e('esc_html') }} ">{{ item.link['title'] | e('esc_html') }}</a>
                </div>
                <div class="info-box__overlay" style="background-color: {{ item.overlay_color }}"></div>
            </div>
        </div>
    {% endfor %}
</section>