<section class="journal-catalog container">
    {% for item in post.get_field('journals_and_catalogs') %}
        {% set link = item.link  %}
        <div class="journal-catalog__item">
            <h4 class="journal-catalog__title">{{ item.title | e('esc_html')}}</h4>
            <div class="journal-catalog__slider">
                {% for slide in item.slider %}
                    {% set length = item.slider | length %}

                    <div class="journal-catalog__slider-slide">
                        <div class="wrapper">
                            <div class="journal-catalog__image">
                                <img src={{ slide.thumbnail | e('esc_url')}} alt="image for {{ slide.title | e('esc_html')}}">
                            </div>
                            <div class="journal-catalog__text">
                                <h3 class="journal-catalog__text-title">
                                    <a href="{{ TimberImage(slide.catalog_pdf)| e('esc_url')}}" download>{{ slide.title | e('esc_html')}}</a>
                                </h3>
                                {{ slide.content | e('wp_kses_post')}}
                                <a class="journal-catalog__button" href={{ link['url'] | e('esc_url')}} target={{ link['target'] | e('esc_html')}}>{{ link['title'] | e('esc_html')}}</a>
                            </div>
                        </div>

                        <div class="journal-catalog__numbers">{{ loop.index }}
                            /
                            {{ length }}</div>
                    </div>


                {% endfor %}
            </div>
        </div>
    {% endfor %}

</section>