<div class="news-tabs-slider">
    <div class="news-tabs-slider__slide">
        <div class="news-tabs-slider__media">
            <img alt="" src="http://lorempixel.com/237/150/">
        </div>
        <div class="news-tabs-slider__content">
            Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </div>
    </div>
    <div class="news-tabs-slider__slide">
        <div class="news-tabs-slider__media">
            <img alt="" src="http://lorempixel.com/237/150/">
        </div>
        <div class="news-tabs-slider__content">
            slide 1: Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </div>
    </div>
    <div class="news-tabs-slider__slide">
        <div class="news-tabs-slider__media">
            <img alt="" src="http://lorempixel.com/237/150/">
        </div>
        <div class="news-tabs-slider__content">
            slide 2: Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </div>
    </div>
    <div class="news-tabs-slider__slide">
        <div class="news-tabs-slider__media">
            <img alt="" src="http://lorempixel.com/237/150/">
        </div>
        <div class="news-tabs-slider__content">
            slide 3: Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </div>
    </div>
    <div class="news-tabs-slider__slide">
        <div class="news-tabs-slider__media">
            <img alt="" src="http://lorempixel.com/237/150/">
        </div>
        <div class="news-tabs-slider__content">
            slide 4: Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </div>
    </div>

</div>