<nav class="pagination">
    <ul class="pagination__container">
        <div class="pagination__arrows first">
            <li class="pagination__jump">
                <a class="fa fa-angle-double-left" href="#"></a>
            </li>


            <li class="pagination__go">
                <a class="fa fa-angle-left" href="#"></a>
            </li>
        </div>

        <div class="pagination__numbers">
            <li>
                <a class="pagination__numbers-item" href="#">1</a>
            </li>
            <li>
                <a class="pagination__numbers-item" href="#">2</a>
            </li>
            <li>
                <a class="pagination__numbers-item" href="#">3</a>
            </li>
            <li>
                <a class="pagination__numbers-item" href="#">4</a>
            </li>
            <li class="pagination__numbers-item--dots">....</li>
            <li>
                <a class="pagination__numbers-item--last" href="#">12</a>
            </li>
        </div>

        <div class="pagination__arrows last">
            <li class="pagination__jump">
                <a class="fa fa-angle-double-right" href="#"></a>
            </li>


            <li class="pagination__go">
                <a class="fa fa-angle-right" href="#"></a>
            </li>
        </div>
    </ul>
</nav>