<section class="related-posts">
    <h4 class="related-posts__top-title text-center">You Might Also Like</h4>
    <div class="container">
        {% for item in post.get_field('related_posts') %}
            <div class="related-posts__item">
                <h3 class="related-posts__item-title text-center">
                    <a href={{ item.link | e('esc_url')}}>
                        {{  item.title | e('esc_html')}}</a>
                </h3>

            </div>

        {% endfor %}
    </div>
</section>