<div class="supapress-search-form" id="supapress-search-form">
    <form role="search" method="get" class="search-form container" action="{{site.url}}" ">
        <input autocomplete="off" class="search-field ais-search-box--input" id="search-field" name="q" placeholder="Enter Search Here..." title="Search" type="search" value=""/>
        <button aria-hidden="true" class="fa-arrow-right" id="search-input-icon">
            <input class="search-submit" type="submit" value="Search"></button>
        </form>
    </div>
    <script id="search-form-template" type="text/html"></script>