<section class="single-hero" style="background: url({{ post.thumbnail | e('esc_url')}}) center center/cover no-repeat">
    <h3 class="single-hero__top-title">News</h3>
    <div class="single-hero__content container">
        {% set cats = post.terms %}
        <div class="single-hero__cats">
            {% for item in cats %}
                <a href={{ item.link | e('esc_url')}} class="cat-item">{{ item.name | e('esc_html') }}</a>

            {% endfor %}
        </div>
        <h1 class="single-hero__title">{{ post.title | e('esc_html')}}</h1>
        {% if post.author %}
            <h3 class="single-hero__author">
                <a href={{ post.author.link | e('esc_html')}}>{{ post.author | e('esc_html')}}</a>
            </h3>
        {% endif %}

    </div>

</section>
