<div class="social-media">
    {% for item in options.footer_social %}
        <a href={{ item.link | e('esc_url')}} target="_blank" rel="noopener noreferrer" class="fa fa-{{ item.icon | e('esc_html')}}"></a>

    {% endfor %}

</div>