<div class="series__item">
    <div class="series__item-wrap" style=" background: url({{ TimberImage(item.thumbnail) | e('esc_url') }}) center center/cover no-repeat ">
        <a href="{{ item.link | e('esc_url')}}">
            <h3 class="series__item-title">
                {{ item.title | e('esc_html')}}
            </h3>
            <div class="series__item-overlay"></div>
        </a>
    </div>
</div>