<section class="trending-now ">
    <div class="container">
        <h3 class="series__title">Trending Now</h3>
        <div class="trending-books">
            {% for item in post.get_field('trending_now') %}
                {% set img =  TimberImage(item.image) | e('esc_url')  %}
                <div class="trending__item">
                    <div class="trending__item-wrap" 
                    data-color="{{ item.color | e('esc_html')}}" data-image="url({{ img }}) no-repeat "
                     style=" background: url({{ img }}) no-repeat; background-size: cover; border-top: 11px solid {{item.color | e('esc_html')}} ">
                        <div class="trending__item-content">
                            <div class="trending__item-desc">
                                {{ item.description | e('esc_html') }}
                            </div>
                            <div class="trending__item-author">
                                {{ item.author | e('esc_html') }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>